__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Données générées en runtime
data/

# Environnements virtuels
venv/
env/
.venv/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs / temporaires
*.log
*.tmp
